{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<div class="container-register">
  <h1 class="title-form">{% trans "Sign Up" %}</h1>
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %} 
    <label for="id_username">Username:</label> <input name="username" autofocus="autofocus" id="id_username" minlength="1" placeholder="Username" required="" maxlength="150" type="text">
    <label for="id_email">E-mail (optional):</label> <input name="email" id="id_email" placeholder="E-mail address" type="email">
    <label for="id_password1">Password:</label> <input name="password1" required="" id="id_password1" placeholder="Password" type="password">
    <label for="id_password2">Password (again):</label> <input name="password2" required="" id="id_password2" placeholder="Password (again)" type="password">      
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="button-basic" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>

{% endblock %}

<input name="csrfmiddlewaretoken" value="0eeRwNv3hx163HR7aVeWxFaIsbyoltD7aeZL0974SVxyzN1H41I8uSpc42hyRp3b" type="hidden">







        

